/* Gotta use flex as much as possible for layouts. */

[block] {
  display: block;
}

[inline-block] {
  display: inline-block;
}

[flex] {
  display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
  /* These are all going to be customized and should be defaults.
  flex-flow: nowrap;
    -webkit-flex-flow: nowrap;
    -ms-flex-flow: nowrap;
  justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
  align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  align-content: stretch;
    -webkit-align-content: stretch;
    -ms-align-content: stretch;
  */
}

[flex-child] { /* Default flex setting to be overridden. */
  /* 
    This is amazing.
    You can change the flex order to move things around next time.
    So basically, 
    order: 0 | 1 | 2 | etc;
      -webkit-order: 0;
      -ms-flex-order: 0;
    flex-grow: 0 | 1 | 2 | etc;
    flex-shrink: 1;
    flex-basis: auto;
    flex: 0 1 auto; // shorthand
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
    align-self: auto | flex-start | flex-end | etc; // to override align-items of parent
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
  */
}

[flex-direction-column] {
  flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

[flex-wrap] {
  flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

[flex-justify-content-center] {
  justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

[flex-justify-content-end] {
  justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;  
}

[flex-justify-content-space-between] {
  justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
}

[flex-align-items-center] {
  align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

[flex-align-items-end] {
  align-items: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
}

[flex-align-content-center] {}

[flex-align-content-end] {}

main-view {
  font-family: Georgia, Serif;
  font-size: 12px;
  width: 100vw;
  height: 100vh;
}

geoyws-logo {
  font-size: 32px;
}

.card {
  padding: 20px;
  width: 300px;
  height: 150px;
  margin: 20px;
  box-shadow: 0px 2px 5px 1px gray;
  color: gray;
}

.card-detail {
  padding: 5px;
}
